body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #d993a6;
  }
  
  canvas {
    background: #d5b343;
    border-radius: 5px;
  }
  .canv{
    border-radius: 2%;
  }